<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="display-4">
                {{ vm.article.title }}
            </h1>

            <p>{{ vm.article.author }}</p>
            <p>{{ vm.article.likes }} Likes,
                {{ vm.article.comment_count }} Comments</p>
            <span>
                Tags:

                    <span ng-repeat="tag in vm.tags" class="m-1 btn btn-sm btn border border-info">
                        &nbsp;<a href='/article/tag/{{tag._id}}'>{{ tag.name }}</a>&nbsp;
                    </span>

                    <span ng-if="!vm.taggingFormShow" ng-click="vm.taggingFormToggle()" class="m-1 btn btn-sm btn border border-info">
                        +
                    </span>
                    <span ng-if="vm.taggingFormShow" ng-click="vm.taggingFormToggle()" class="m-1 btn btn-sm btn border border-info">
                        -
                    </span>
                
                <span tagging-form ng-if="vm.taggingFormShow"> </span>
        </div>
    </div>
    <div class="col-xs-6 col-6">

    </div>
</div>

<div class="row">
    <div class="col-xs-12" >
        <img src="/img/{{ vm.article.picture}}" alt="" width=50% class="float-left mr-4 mb-4">
        <p class="articlebody text-wrap text-justify">{{ vm.article.body }}</p>

        <p>Article written by {{vm.article.author}}</p>

        <div class="row border-top">
            <div class="col-6">
                <p>Share this article</p>
            </div>

            <div ng-if="vm.user" class="col-6 text-right ">
                <button class="btn btn-info" ng-click="vm.likeButtonPress()">Like</button>
                <button ng-if="!vm.commentFormShow" ng-click="vm.commentFormToggle()"
                    class="btn btn-info">Comment</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row bg-light form-horizontal">
    <div class="col-2">

    </div>
    <div class="col-8 m-2 class=" bg-info">
        <comment-form ng-if="vm.commentFormShow" class="bg-danger" articleid="vm.article._id" userid="vm.user._id"
            name="vm.user.name"></comment-form>
    </div>
</div>

<div ng-if="vm.article.comments.length > 0" class="border-top">
    <h4>Comments</h4>
    <div class="col-10">
        <div ng-repeat="comment in vm.article.comments | orderBy : '-date' " class="mb-3 m-3 border-bottom">
            <div article-comments comment="comment"></div>
        </div>
    </div>
</div>

</div>