<div class="row p-2 border-right">
    <!--<div class="col-md-4 center-cropped" style="background-image: url('/img/{{ article.picture }}');">
    </div>-->

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 pl-2">
                <a href="/article/read/{{ article._id }}">
                    {{article.title}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="border-bottom mb-2 pl-2 pt-2">
                <small>{{ article.synopsis }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <small>{{ article.date | date:'dd/MM/yyyy'}} - {{ article.author }}</small>
            </div>
            <div class="col-md-6">
                <img src='/img/like.png' alt='like'> {{ article.likes }}&nbsp;&nbsp;<img src='/img/comment.png'
                    alt='comments'>
                {{ article.comment_count }}
            </div>
        </div>
    </div>