body {
  /* padding: 50px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
/* column hack for card-layout */
@media (min-width:576px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width:768px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width:992px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width:1200px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width:1600px) {
  .card-columns {
    column-count: 5;
  }
}

.center-cropped {
    /*width: 120px;*/
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
  }