doctype html
html(ng-app='hotplots')
    head
        title= title
        base(href='/')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js' integrity='sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=' crossorigin='anonymous')
        script(src='/js/bootstrap.min.js')    
        script(src='/angular/angular.min.js')
        script(src='/lib/angular-route.min.js')
        script(src='/app.js')
        script(src='/common/directives/articleCard.directive.js')
        script(src='/common/directives/articleListCard.directive.js')
        script(src='/common/directives/articleComment.directive.js')
        script(src='/home/home.controller.js')
        script(src='/article/articleRead.controller.js')
        script(src='/article/articleList.controller.js')
        script(src='/article/articleCreate.controller.js')
        script(src='/user/registerCtrl.controller.js')
        script(src='/common/services/articles.service.js')
        script(src='/common/services/user.service.js')

    body
        nav.navbar.navbar-expand-sm.navbar-dark.info-color.bg-primary.sticky-top
            a.navbar-brand(href='/') HotPlots
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto          
                    li.nav-item
                        a.nav-link.waves-effect.waves-light(href='/article/list/date') Articles
                    li.nav-item
                        a.nav-link.waves-effect.waves-light(href='/questions/list') Q&A
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') User
                        .dropdown-menu.dropdown-info(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item.waves-effect.waves-light(href='/register') Register
                            a.dropdown-item.waves-effect.waves-light(href='/article/create') Create an article
                            a.dropdown-item.waves-effect.waves-light(href='/questions/create') Ask a question
                            .dropdown-divider
                            a.dropdown-item.waves-effect.waves-light(href='#') Messages
                            a.dropdown-item.waves-effect.waves-light(href='#') Policies
                form.form-inline
                    .md-form.my-0
                        input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
        .container-fluid
            .row
                .col-md-1

                .col-md-10
                    div(ng-view)
                        block content
                .col-md-1

